md-toolbar {
  background-color: #424242 !important;
}

.btn-add-new-job {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #d23f31 !important;
}

.sign-up-icon {
  vertical-align: middle;
  margin-right: 5;
}

.content{
  padding: 2em;
}

.job-success{
  background: linear-gradient(to right,#39aa56 0,#39aa56 5px,#fff 5px,#fff 100%) no-repeat;
}

.job-fail{
  background: linear-gradient(to right,#db4545 0,#db4545 5px,#fff 5px,#fff 100%) no-repeat;
}

.job-title{
  padding: 0 16px 16px !important;
}

.job-headline{
  color: #39aa56 !important;
  font-size: 14px !important;
  font-weight: bold !important;
}

.job-content{
  text-align: center;
}

.job-content span{
  font-size: 24px;
}

.job-footer{
  font-size: 12px;
  text-align: right;
}
