<html lang="en" >

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href='{{ url_for("static", filename="components/angular-material/angular-material.min.css") }}'>
  <link rel="stylesheet" href='{{ url_for("static", filename="css/tron.css") }}'>
  <script src='{{ url_for("static", filename="components/angular/angular.min.js") }}'></script>
  <script src='{{ url_for("static", filename="components/angular-animate/angular-animate.min.js") }}'></script>
  <script src='{{ url_for("static", filename="components/angular-aria/angular-aria.min.js") }}'></script>
  <script src='{{ url_for("static", filename="components/angular-messages/angular-messages.min.js") }}'></script>
  <script src='{{ url_for("static", filename="components/angular-cron-jobs/dist/angular-cron-jobs.min.js") }}'></script>
  <script src='{{ url_for("static", filename="components/angular-material/angular-material.min.js") }}'></script>
  <script src='{{ url_for("static", filename="components/satellizer/satellizer.min.js") }}'></script>
</head>

<body ng-app='tronApp' ng-cloak>
  <div ng-controller='tronCtrl' ng-cloak>
    <md-toolbar>
      <div class='md-toolbar-tools'>
        <img src='{{ url_for("static", filename="img/tron_small.png") }}'/>
        <span flex></span>
        <md-button ng-if="!isAuthenticated" ng-click="login()">
          <img class="sign-up-icon" src='{{ url_for("static", filename="img/github.png") }}'/>
          Login
        </md-button>
        <md-button ng-if="isAuthenticated" ng-click="logout()">
          Logout
        </md-button>
      </div>
    </md-toolbar>
    <md-content layout-xs="column" layout="row" class="content" layout-wrap>
      <div flex="25" layout="column" ng-repeat="i in [1, 2, 3, 4, 5, 6, 7, 8]">
        <md-card md-theme="dark-blue" md-theme-watch class="job-success">

          <md-card-title>
            <md-card-title-text>
              <span class="md-headline">menegazzo/tron-ci</span>
            </md-card-title-text>
          </md-card-title>
          <md-divider></md-divider>
          <md-card-content>
            <span>0 */12 * * *</span>
          </md-card-content>
          <md-divider></md-divider>
          <md-card-footer>
            Card footer
          </md-card-footer>

        </md-card>

      </div>
    </md-content>
    <md-button class="md-fab btn-add-new-job" aria-label="New job" ng-if="isAuthenticated" ng-click="addNewJobDialog($event)">
      <img src='{{ url_for("static", filename="img/plus.png") }}'/>
    </md-button>
  </div>
  <script src='{{ url_for("static", filename="js/tron.js") }}'></script>

</body>
</html>
